/* style for labels size 2 x 4 inches */

@page {
    width: 101.6mm;
    height: 50.8mm;
    padding: 0.0mm;

}
.label {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 11px;
    margin-left: 10mm;
    margin-right: 10mm;
    margin-top: 15mm;
    margin-bottom: 10mm;
}