@page {
    width: 101.6mm;
    height: 25.4mm;
    padding: 0.0mm;

}
.label {
    font-family: Verdana;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 7px;
}